.ICEauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.dbus/
.elinks/
.esd_auth
.gnupg/
.lesshst
.local/
.mozilla/
.rnd
.vim/
.viminfo
VBoxWindowsAdditions-amd64.exe
file.exe
